venv/
data

# Virtual environment
venv/
env/
ENV/

# Data files
data/
*.csv
*.xlsx
*.json

# Python cache files
__pycache__/
*.py[cod]
*$py.class

dist/
build/
*.egg-info/


.ipynb_checkpoints
*.ipynb_checkpoints

.idea/
.vscode/
*.swp
.DS_Store

.env
.env.*